/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%; /* Assure que la hauteur couvre toute la page */
    margin: 0; /* Supprime les marges par défaut */
  }
  
  body {
    background-image: url("assets/images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Foldit', sans-serif;
  }